@import "tailwindcss";
.calendar-component {
    font-family: 'Inter', sans-serif;
  }
  
  .rbc-event {
    background-color: #b91c1c !important;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 500;
  }
  